@font-face {
    font-family: 'firasans-compressed-bold';
    src: url("./fonts/firasans-compressed-bold.otf");
}

@font-face {
    font-family: 'oldstandard-italic';
    src: url("./fonts/oldstandard-italic.ttf");
}

@font-face {
    font-family: 'firasans-compressed-regular';
    src: url("./fonts/firasans-compressed-regular.otf");
}

@font-face {
    font-family: 'oldstandard-regular';
    src: url("./fonts/oldstandard-regular.ttf");
}

@font-face {
    font-family: 'streetbrush-regular';
    src: url("./fonts/streetbrush-regular.otf");
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0 auto;
}

.header-wrap {
    background: url("./img/main.png") no-repeat;
    background-size: contain;
    background-position: right;
    max-width: 1560px;
    margin: 0 auto;
}

header {
    padding-top: 52px;
}

nav {
    padding-bottom: 42%;
}

/*.header-wrap .wrap-text {*/
/*position: absolute;*/
/*background: url("./img/lk.png") no-repeat;*/
/*}*/

#menu {
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'firasans-compressed-regular', sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.wrap-side {
    z-index: 9;
    position: fixed;
    top: 33px;
    left: 33px;
    display: none;
}

.wrap-text h2 {
    position: absolute;
    top: -101vh;
    left: 12vw;
    transform: rotate(-17deg);
    font-family: 'streetbrush-regular', sans-serif;
    font-size: 200px;
    font-weight: 100;
}

.wrap-text h2 span {
    font-size: 360px;
    display: block;
    line-height: 0.6;
}

header h1, footer h1 {
    padding-left: 83px;
    background: url("./img/trinangle.png") no-repeat 40px;
    line-height: 2.1;
}

h1 {
    font-family: 'firasans-compressed-bold', sans-serif;
    font-size: 16px;
}

h1 span {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

nav ul {
    padding: 80px 0 0 80px;
    list-style: none;
}

nav ul li + li {
    padding-top: 16px;
}

nav li a {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

/*==section photo*/


.slick-track {
    opacity: 1;
    width: 2800px;
    transition: transform 1s ease;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 39%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    right: 30px;
    z-index: 9;
    background: url("./img/slidArrow.png") no-repeat;
    width: 24px;
    height: 28px;

}

.slick-prev {
    left: 30px;
    z-index: 9;
    background: url("./img/trinangle.png") no-repeat;
    width: 24px;
    height: 28px;

}

/*.slick-next::before {*/
    /*content: '→';*/
/*}*/

/*.slick-prev::before {*/
    /*content: '←';*/
/*}*/

.slick-prev::before, .slick-next::before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

section.photo-s {
    margin-top: -74px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-slid {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}

.slider-responsive {
    position: relative;
    z-index: 3;
}

.wrap-slid .photo {
    border-radius: 4px;
    box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.3);
    background-size: cover !important;
    cursor: pointer;
    position: relative;
}

.wrap-photo {
    padding-top: 20px;
    padding-bottom: 88px;
}

.description {
    display: block;
    opacity: 0;
}

.description-block {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.up {
    position: relative;
    margin-top: -20px !important;
    transition: margin-top 1s;
}

.wrap-slid .wrap-photo .photo .divider {
    padding-bottom: 130%;
    width: 12vw;
}

.wrap-slid .wrap-photo:nth-child(1) .photo {
    background: url("./img/photo_v1.png") no-repeat;
}

.wrap-slid .wrap-photo:nth-child(2) .photo {
    background: url("./img/photo_v2.png") no-repeat;
}

.wrap-slid .wrap-photo:nth-child(3) .photo {
    background: url("./img/photo_v3.png") no-repeat;
}

.wrap-slid .wrap-photo:nth-child(4) .photo,
.wrap-slid .wrap-photo:nth-child(5) .photo,
.wrap-slid .wrap-photo:nth-child(6) .photo,
.wrap-slid .wrap-photo:nth-child(7) .photo,
.wrap-slid .wrap-photo:nth-child(8) .photo{
    background: url("./img/photo_v4.png") no-repeat;
}

p.date {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 20px;
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 14px;
    padding: 0 6px 0 6px;
    line-height: 1.6;
    margin-bottom: 0;
    color: #00004d;
    position: relative;
}

p.title, .description-item {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 16px;
    margin: 10px 0 10px 0;
}

p.director {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 14px;
    color: #8c8cb2;
    margin-top: 0;
}

.rectangle {
    background: url("./img/Rectangle.png") no-repeat;
    background-size: contain;
    width: 100px;
    height: 47px;
    position: relative;


}

.wrap-photo:last-child {
    display: flex;
    align-items: center;
    height: 30vh;
}

.wrap-arrow {
    position: relative;
    right: 15%;
    top: -3px;
    cursor: pointer;
}

.arrow {
    background: url("./img/arrow.png") no-repeat;
    width: 103px;
    height: 18px;
}

.wrap-arrow a, .wrap-href a, .gallery-href {
    font-size: 16px;
    color: #8b8bb2;
    font-family: 'firasans-compressed-regular', sans-serif;
    text-decoration: none;
}

/*.number-bg {*/
/*background: url("./img/263.png") no-repeat;*/
/*background-size: contain;*/
/*position: absolute;*/
/*top: 48%;*/
/*z-index: 3;*/
/*right: 0;*/
/*}*/

/*.number-bg .divider {*/
/*padding-bottom: 60%;*/
/*padding-left: 19vw;*/
/*}*/

.number-bg {
    font-size: 300px;
    color: rgba(139, 139, 178, .1);
    font-family: firasans-compressed-bold, sans-serif;
    float: right;
    top: -250px
}

.number-bg, .number-bg span {
    position: absolute;
    right: 0;
    top: 86px;
}

.number-bg span {
    position: relative;
    overflow: hidden;
    left: 18px;
}

/*==section blog==*/

section.blog {
    max-width: 1560px;
    margin: 0 auto;
}

.wrap-blog {
    display: flex;
}

.wrap-blog .col-blog:nth-child(1) .divider {
    padding-bottom: 60%;
}

.wrap-blog .col-blog:nth-child(1) {
    background: url("./img/picture.png") no-repeat;
    background-size: contain;
    flex: 1;
    margin: 110px;
    position: relative;
}

.wrap-blog .col-blog:nth-child(1) .title-blog {
    background: url("./img/blog.png") no-repeat;
    background-size: contain;
    position: absolute;
    left: 28vw;
}

.wrap-blog .col-blog:nth-child(1) .title-blog .divider {
    padding-bottom: 60%;
    padding-left: 23vw;
}

.blog-column {
    padding-top: 31%;
    padding-right: 7%;
}

.blog-column .blog-item, .blog-column .wrap-href {
    padding: 40px 110px 0 22px;
}

.blog-item {
    transition: all 1s ease-in, 1s ease-out;
    cursor: pointer;
    padding: 40px 14px 8px 14px !important;
    background-size: contain!important;
    background-position: center!important;
}

.blog-column .blog-item:nth-child(3) {
    /*background: url("./img/blog_bg.png") no-repeat;*/

    /*height: 110px;*/
    /*color: #fff;*/
}

p.description-item {
    margin: 0;
}

.blog-date {
    font-size: 14px;
    font-family: 'oldstandard-italic', sans-serif;
    color: #8c8cb2;
    margin: 8px 0 20px 0;
}

/*==section theater==*/


section.theater {
    background: radial-gradient(#5b5b5b, #020202);
    display: flex;
    justify-content: space-around;
}

.theater .col h4 {
    font-size: 46px;
    font-family: 'firasans-compressed-regular', sans-serif;
    color: #ffffff;
    font-weight: 300;
}

.theater .col h4 span {
    font-size: 16px;
    display: block;
}

.theater-item {
    border-radius: 4px;
    background: url("./img/theatre_logo_1.png"), rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 90% 30px;
    z-index: 3;
    position: relative;
    padding: 28px 20px 52px 20px;
    width: 322px;
    box-shadow: inset 0px -20px 40px 0 #e7e7e7;
}

.theater .col:nth-child(2) .theater-item {
    background: url("./img/theatre_logo_2.png"), rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 90% 20px;
}

.col {
    position: relative;
}

.theater-first-border, .theater-second-border {
    border: 1px solid rgb(0, 255, 180);
    border-radius: 4px;
    background-color: rgba(0, 255, 180, 0);
    width: 360px;
    height: 450px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 205px;
}

.theater-second-border {
    left: 20px;
    top: 215px;
}

.theater-date {
    font-size: 36px;
    font-family: 'oldstandard-italic', sans-serif;
    border-bottom: 1px solid #f2f2f2;
}

.theater-title, .film-title {
    font-family: 'firasans-compressed-bold', sans-serif;
    font-size: 16px;
    margin-bottom: 6px;
    padding-top: 16px;
}

.theater-director, .film-director {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 16px;
    margin: 6px 0 6px 0;
}

.theater-desc, .theater-date {
    padding-left: 20px;
}

.theater-role, .film-role {
    font-size: 14px;
    font-family: 'firasans-compressed-regular', sans-serif;
    color: #8c8cb2;
    margin: 6px 0 6px 0;
}

.theater-box-shadow {
    background-color: rgb(0, 255, 180);
    width: 360px;
    height: 580px;
    position: absolute;
    right: 42px;
    border-radius: 4px;
    top: 220px;
}

.theater-wrap {
    background: url("./img/theatre_item3.png") no-repeat;
    position: relative;
    background-size: contain;
}

.theater-wrap .divider {
    width: 443px;
    height: 480px;
}

.theater .col:nth-child(3) {
    position: relative;
    display: flex;
    align-items: center;
    top: 60px;
}

.theater-box {
    background-color: rgb(0, 0, 255);
    width: 360px;
    height: 480px;
    position: absolute;
    right: 30%;
    top: 17%;
    border-radius: 4px;
}

.theater-box p {
    font-size: 14px;
    font-family: 'oldstandard-italic', sans-serif;
    color: #fff;
    transform: rotate(270deg);
    position: absolute;
    left: -45%;
    top: 52%;
}

/*==section films==*/

.wrap-films {
    background-image: url("./img/film.jpg");
    background-repeat: no-repeat;
    display: grid;
    background-size: contain;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrap-tabs {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1.2s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.wrap-films .col:nth-child(3) .films-date .active {
    font-size: 36px;
    color: #000;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


.wrap-films .col h2 {
    font-size: 46px;
    font-family: 'firasans-compressed-regular', sans-serif;
    font-weight: 300;
    margin: 62px 0 80px 0;
}

.wrap-films .col:nth-child(2) {
    text-align: center;
    padding-right: 38px;
    padding-bottom: 44vh;
}

.wrap-films .col:nth-child(2) .films-date {
    font-size: 136px;
    font-family: 'oldstandard-italic', sans-serif;
    border-bottom: 1px solid #f2f2f2;
    line-height: 1;
    display: inline-block;
}

.wrap-films .col:nth-child(3) {
    padding-top: 29vh;
    padding-bottom: 26vh;
    padding-left: 8vw;
}

.wrap-films .col:nth-child(3) .films-date {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 36px;
    border-bottom: 1px solid #f2f2f2;
    display: inline-block;
}

.wrap-films .col:nth-child(3) .films-date span {
    font-size: 26px;
    color: #8c8cb2;
    padding-left: 38px;
    cursor: pointer;
}

.film-title {
    padding-top: 10px;
}

.film-star {
    background: url("./img/start.png") no-repeat center 10px;
    width: 100%;
    height: 40px;
}

/*==section biography==*/
section.biography {
    background: url("./img/biography_gallery.png") no-repeat;
    background-position: bottom;
    background-size: contain;
}

.wrap-title {
    background: url("./img/biography_title.png") no-repeat top;
    width: 100%;
    height: 39vh;
    position: relative;
    top: -12vh;
}

.wrap-biography {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -6vh;
    padding-bottom: 10vh;
}

.wrap-biography .col-biog {
    flex: 1;
    max-width: 420px;
    padding-left: 8vw;
}

.birthday {
    background: url("./img/biography_bg.png") no-repeat;
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 18px;
    padding: 10px 30px 15px 34px;
}

.biography-date p {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 46px;
}

.biography-date p span, .studies p span {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 18px;
    display: block;
    color: #8c8cb2;
}

.studies p {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 26px;
}

.studies {
    border-bottom: 1px solid #f2f2f2;
}

.wrap-information {
    display: flex;
}

.properties p {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 16px;
}

.properties p:first-child, .data p:first-child {
    padding: 14px 98px 0 0;
}

.data p {
    font-family: 'firasans-compressed-bold', sans-serif;
    font-size: 16px;
}

.wrap-biography .col-biog:nth-child(2) p {
    font-family: 'oldstandard-regular', sans-serif;
    font-size: 18px;
}

.wrap-biography .col-biog:nth-child(2) {
    min-width: 490px;
}

/*==section gallery==*/

.wrap-gallery {
    background: rgb(245, 245, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 120px 0;
    border-bottom: 1px solid #e9e9eb;
    overflow: hidden;
}

.gallery-photo {
    position: relative;
    z-index: 5;
}

.col-gallery {
    position: relative;
}

.wrap-gallery .col-gallery:nth-child(1) .gallery-photo {
    background: url("./img/g_phot_1png.png") no-repeat;
    width: 230px;
    height: 230px;
}

.wrap-gallery .col-gallery:nth-child(2) .gallery-photo {
    background: url("./img/g_photo_2.png") no-repeat;
    width: 230px;
    height: 230px;
}

.wrap-gallery .col-gallery:nth-child(3) .gallery-photo {
    background: url("./img/g_photo_3.png") no-repeat;
    width: 230px;
    height: 230px;
}

.wrap-gallery .col-gallery:nth-child(4) .gallery-photo {
    background: url("./img/g_photo_4.png") no-repeat;
    width: 230px;
    height: 230px;
}

.wrap-gallery .col-gallery:nth-child(1) {
    top: 20px;
}

.wrap-gallery .col-gallery:nth-child(3) {
    top: 20px;
}

.gallery-first-border, .gallery-second-border {
    border: solid 1px rgb(0, 0, 255);
    width: 234px;
    height: 234px;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
    top: 4px;
    left: 4px;
}

.gallery-second-border {
    top: 14px;
    left: 14px;
}

.gallery-box-shadow {
    background: rgb(0, 255, 180);
    width: 230px;
    height: 230px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -20px;
}

.wrap-gallery-href {
    background: url("./img/Rectangle.png") no-repeat;
    width: 56px;
    height: 69px;
    position: relative;
    right: 165px;
    z-index: 9;
    top: 22px;
}

.col-gallery .mail {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 26px;
    padding-top: 12px;
}

.inner-wrap-href {
    position: relative;
    right: 54px;
    bottom: 54px;
}

.wrap-gallery .col-gallery:nth-child(3) .gallery-first-border {
    top: 14px;
    left: 14px;
}

.wrap-gallery .col-gallery:nth-child(3) .gallery-second-border {
    top: 34px;
    left: 34px;
}

.separator {
    padding-top: 90px;
    background: rgb(245, 245, 248);
}

.wrap-quote {
    background: url("./img/qute_bg.jpg "), rgb(245, 245, 248);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 36%;
    display: flex;
}

.wrap-quote .col-quote:nth-child(1) {
    padding-top: 11%;
    padding-bottom: 12%;
    flex: 1;
}

.wrap-quote .col-quote:nth-child(2) {
    flex: 1;
}

.wrap-quote .col-quote p:nth-child(1) {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 55%;
}

.wrap-quote .col-quote p:nth-child(2) {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 46px;
    color: #fff;
    padding-left: 52%;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: 90px;
}

.wrap-quote .col-quote p:nth-child(3) {
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 55%;
    font-weight: 200;
    margin-top: 0;
}

.col-quote ul {
    display: flex;
    padding-left: 76%;
    padding-top: 36px;
    list-style: none;
}

.col-quote ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 255, 180);
    margin: 8px;
}

/*==section feedback==*/

.wrap-feedback {
    display: flex;
    background: rgb(245, 245, 248);
    padding: 130px 0 120px 0;
}

.wrap-feedback .col-feedback:nth-child(1), .wrap-feedback .col-feedback:nth-child(2) {
    flex: 1;
}

.wrap-feedback .col-feedback:nth-child(1) p:first-child {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 26px;
}

.wrap-feedback .col-feedback:nth-child(1) p:nth-child(2) {
    font-family: 'oldstandard-regular', sans-serif;
    font-size: 18px;
}

.wrap-feedback .col-feedback:nth-child(1) p:nth-child(3) {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 46px;
    border-bottom: 1px solid rgb(0, 255, 180);
    margin-bottom: 0;
    display: inline-block;
}

.wrap-feedback .col-feedback:nth-child(1) span {
    display: block;
    color: #8c8cb2;
    font-size: 18px;
    font-family: 'oldstandard-italic', sans-serif;
}

.col-feedback .social {
    display: flex;
    margin-top: 40px;
}

.social a {
    padding: 12px;
    margin-left: 24px;
}

.social a:first-child {
    background: url("./img/icon__vk.png") no-repeat;
    background-size: contain;
}

.social a:nth-child(2) {
    background: url("./img/icon__facebook.png") no-repeat;
    background-size: contain;
}

.social a:nth-child(3) {
    background: url("./img/icon__ok.png") no-repeat;
    background-size: contain;
}

.social a:nth-child(4) {
    background: url("./img/icon__instagram.png") no-repeat;
    background-size: contain;
}

.wrap-feedback .col-feedback:nth-child(2) form div {
    position: relative;
}

.inner-wrap {
    padding-left: 34%;
    padding-right: 22%;
}

form div label {
    position: absolute;
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 16px;
    color: #8b8bb2;
    left: 0;
}

.wrap-form div {
    display: flex;
    justify-content: center;
}

.wrap-form div input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.wrap-form {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.3);
    width: 63%;
    height: 470px;
    padding: 50px 30px 0 30px;
}

textarea#message {
    width: 100%;
    height: 150px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: rgba(0, 255, 180, 0);
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 24px;
}

input#name, input#email {
    margin-bottom: 50px;
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 36px;
    text-align: center;
}

input#email {
    margin-bottom: 60px;
}

.wrap-form div label:first-child {
    top: 33px;
}

.wrap-form div:nth-child(3) label {
    top: -28px;
}

input:focus {
    outline: none;
}

form button {
    border-radius: 4px;
    background-color: rgb(0, 0, 255);
    font-family: 'oldstandard-italic', sans-serif;
    font-size: 18px;
    line-height: 2.7;
    padding: 0 64px;
    color: #fff;
    margin-top: 30px;
    border: none;
    position: relative;
    z-index: 9;
}

.wrap-button {
    display: flex;
    justify-content: center;
    width: 492px;
    position: relative;
}

.wrap-button .first-border-box, .wrap-button .second-border-box {
    border: 1px solid rgb(0, 255, 180);
    border-radius: 4px;
    background-color: rgba(0, 255, 180, 0);
    position: absolute !important;
    width: 234px;
    height: 56px;
    top: 32px;
    left: 135px;
    z-index: 1;
}

.wrap-button .second-border-box {
    top: 42px;
    left: 145px;
}

/*==footer==*/
footer {
    background-color: rgb(0, 0, 0);
}

.wrap-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-footer div:nth-child(3) {
    background: url("./img/footerArrow.png") no-repeat;
    padding: 31px 88px 0 0;
    background-size: contain;
    margin-right: 36px;
}

.wrap-footer div:nth-child(2) {
    font-family: 'firasans-compressed-regular', sans-serif;
    font-size: 12px;
    color: #fff;
}

.wrap-footer div:nth-child(1) {
    color: #fff;
}

.col-feedback form {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}